@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mini Phone Book</h1>
	<p class="lead">Any one can register in your application and can manage his/her contacts.</p>
    <p><a> First Login</a></p>
</div>

